body {
    background-color: #edf1f2;
}

header {
    width: auto;
    height: 115px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);
    background-color: #3f4246;
    display: flex;
    justify-content: space-around;
}

header .logo h1{
    color: red;
    cursor: pointer;
} 

header .logo p{
    color: rgb(255, 239, 94);
}

header form { 
    width: 630px;
    height: 36px;
    background-color: #ffffff;
    margin-top: 60px;
}

header form input {
    width: 350px;
    height: 100%;
    color: #a3a9ad;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
}

header form select {
    width: 240px;
    height: 100%;
}

header form button {
    width: 32px;
    height: 100%;
    background-color: #2a96d4;
    cursor: pointer;
}

header .basket img{
    width: 36px;
    height: 35px;
    display: block;
    cursor: pointer;
}
header .basket a{
    text-decoration: none;
    color: #ffffff;
}

header .like a{
    text-decoration: none;
    color: #ffffff;
}

header .like img{
    width: 36px;
    height: 35px;
    display: block;
    cursor: pointer;
}

header .basket {
    width: 45px;
    height: 38px;
    display: block;
    margin-top: 45px;
}

header .like {
    width: 45px;
    height: 38px;
    display: block;
    margin-top: 45px;
}


section .shop {
    width: 1170px;
    height: 681px;
    border: 1px solid #dde2e6;
    background-color: #ffffff;
    margin-left: 60px;
    margin-top: 14px;
    border: solid 2px rgb(212, 212, 212);
    
}

section .shop ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

section .shop ul li {
    display: block;
    width: 270px;
    height: 289px;
    border: solid 2px #c2c2c2
}

section .shop ul li img{
    padding-left: 30px;
    padding-top: 20px;
    cursor: pointer;
}

footer {
    width: auto;
    height: 115px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);
    background-color: #000000;
}

footer h3 {
    color: rgb(65, 65, 65);
    text-align: center;
    padding-top: 15px;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    color: rgb(129, 129, 129);
    border-left: solid 3px rgb(129, 129, 129);
    margin-left: 10px;
    list-style-type: none;
    cursor: pointer;
}